
  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Us
            </h5>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/location-white.png')}}" width="18px" alt="">
              </div>
              <p>
               Manhattan, New York
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='images/telephone-white.png')}}" width="12px" alt="">
              </div>
              <p>
                +1 18-522-0422
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{{ url_for('static', filename='mages/envelope-white.png')}}" width="18px" alt="">
              </div>
              <p>
                info@doghotel.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Hours of Operation
            </h5>
            <p> Weekdays 7am - 8pm </p>
            <p> Weekends 10am - 6pm</p>
             
            
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="{{ url_for('static', filename='images/insta.png')}}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="{{ url_for('static', filename='images/insta.png') }}" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="{{ url_for('static', filename='images/insta.png') }}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="{{ url_for('static', filename='images/insta.png') }}" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="{{ url_for('static', filename='images/insta.png') }}" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="{{ url_for('static', filename='images/insta.png') }}" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="">
              </a>
              <a href="">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="">
              </a>
              <a href="">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="">
              </a>
              <a href="">
                <img src="{{ url_for('static', filename='images/youtube.png') }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


 <!-- footer section -->
 <section class="container-fluid footer_section">
  <p>
    &COPY; Copyright 2025 | Created by <a href="https://portfolio-bk1e.onrender.com" target="_blank">SuelmaParisDevop</a><br><br>
  </p>
</section>
<!-- footer section -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>